@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JunigardenSerif';
  src: url('./fonts/JunigardenSerif.woff') format('woff');

}

html {
  scroll-behavior: smooth;
}

.junigardenSerif {
  font-family: 'JunigardenSerif', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


